<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>사망신고서</title>
</head>
<body>
<h1>사망신고서</h1>
<table border = "1">
  <tr>사망신고서</tr>
  <tr>
    <th rowspan = "4">사망자</th>
    <th>성명</th>
    <td th:text = "${resident.getName()}"></td>
    <th>성별</th>
    <td th:text = "${resident.getGenderCode()}"></td>
  </tr>
  <tr>
    <th>사망일시</th>
    <td colspan = "3" th:if = "${resident.getDeathDate()} != null" th:text = "${resident.getDeathDate()}"></td>
  </tr>
  <tr>
    <th>사망장소</th>
    <td colspan = "3" th:if = "${resident.getDeathPlaceAddress()} != null" th:text = "${resident.getDeathPlaceAddress()}"></td>
  </tr>
  <tr>
    <th>등록기준지(본적)</th>
    <td colspan = "3" th:if = "${resident.getRegistrationBaseAddress()} != null" th:text = "${resident.getRegistrationBaseAddress()}"></td>
  </tr>
  <tr th:each = "familyRelation : ${familyRelationshipList}">
    <td  th:if = "${familyRelation.getFamilyRelationshipCode()} == 부">부</td>
    <td th:if = "${familyRelation.getFamilyRelationshipCode()} == 부" th:text = "${familyRelation.getResident().getName()}"></td>
    <td th:if = "${familyRelation.getFamilyRelationshipCode()} == 부" th:text = "${familyRelation.getResident().getBirthDate()}"></td>
    <td th:if = "${familyRelation.getFamilyRelationshipCode()} == 부" th:text = "${familyRelation.getResident().getResidentRegistrationNumber()}"></td>
    <td th:if = "${familyRelation.getFamilyRelationshipCode()} == 부" th:text = "${familyRelation.getResident().getGenderCode()}"></td>
    <td  th:if = "${familyRelation.getFamilyRelationshipCode()} == 모">모</td>
    <td th:if = "${familyRelation.getFamilyRelationshipCode()} == 모" th:text = "${familyRelation.getResident().getName()}"></td>
    <td th:if = "${familyRelation.getFamilyRelationshipCode()} == 모" th:text = "${familyRelation.getResident().getBirthDate()}"></td>
    <td th:if = "${familyRelation.getFamilyRelationshipCode()} == 모" th:text = "${familyRelation.getResident().getResidentRegistrationNumber()}"></td>
    <td th:if = "${familyRelation.getFamilyRelationshipCode()} == 모" th:text = "${familyRelation.getResident().getGenderCode()}"></td>
  </tr>
</table>
</body>
</html>