<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table border = "1">
  <tr>
    <th>주민일련번호</th>
    <th>성명</th>
    <th>주민등록번호</th>
    <th>성별코드</th>
    <th>출생일시</th>
    <th>출생장소코드</th>
    <th>등록기준지 주소</th>
    <th>사망일시</th>
    <th>사망장소코드</th>
    <th>사망장소주소</th>
    <th>가족관계증명서</th>
    <th>주민등록등본</th>
    <th>출생신고서</th>
    <th>사망신고서</th>
    <th>주민 정보 삭제</th>
  </tr>
  <tr>
    <td th:text = "${resident.getReidentSerialNumber()}"></td>
    <td th:text = "${resident.getName()}"></td>
    <td th:text = "${resident.getResidentRegistrationNumber()}"></td>
    <td th:text = "${resident.getGenderCode()}"></td>
    <td th:text = "${resident.getBirthDate()}"></td>
    <td th:text = "${resident.getBirthPlaceCode()}"></td>
    <td th:text = "${resident.getRegistrationBaseAddress()}"></td>
    <td th:text = "${resident.getDeathDate()}"></td>
    <td th:text = "${resident.getDeathPlaceCode()}"></td>
    <td th:text = "${resident.getDeathPlaceAddress()}"></td>
    <td><a th:href = "@{|/resident/${resident.getReidentSerialNumber()}/familyRelationsCertificate|}"><button>확인</button></a></td>
    <td><a th:href = "@{|/resident/${resident.getReidentSerialNumber()}/residentRegistrationCopy|}"><button>확인</button></a></td>
    <td th:if = "${resident.getBirthDate() != null}"><a th:href = "@{|/resident/${resident.getReidentSerialNumber()}/birthCertificate|}"><button>확인</button></a></td>
    <td th:if = "${resident.getDeathDate() != null}"><a th:href = "@{|/resident/${resident.getReidentSerialNumber()}/deathCertificate|}"><button>확인</button></a></td>
    <td><a th:href = "@{|/resident/${resident.getReidentSerialNumber()}/delete|}"><button>삭제</button></a></td>
  </tr>
  <tr th:each = "familydto : ${familyRelationshipList}">
    <td th:text = "${familydto.getResident().getReidentSerialNumber()}"></td>
    <td th:text = "${familydto.getResident().getName()}"></td>
    <td th:text = "${familydto.getResident().getResidentRegistrationNumber()}"></td>
    <td th:text = "${familydto.getResident().getGenderCode()}"></td>
    <td th:text = "${familydto.getResident().getBirthDate()}"></td>
    <td th:text = "${familydto.getResident().getBirthPlaceCode()}"></td>
    <td th:text = "${familydto.getResident().getRegistrationBaseAddress()}"></td>
    <td th:text = "${familydto.getResident().getDeathDate()}"></td>
    <td th:text = "${familydto.getResident().getDeathPlaceCode()}"></td>
    <td th:text = "${familydto.getResident().getDeathPlaceAddress()}"></td>
    <td><a th:href = "@{|/resident/${familydto.getResident().getReidentSerialNumber()}/familyRelationsCertificate|}"><button>확인</button></a></td>
    <td><a th:href = "@{|/resident/${familydto.getResident().getReidentSerialNumber()}/residentRegistrationCopy|}"><button>확인</button></a></td>
    <td th:if = "${resident.getBirthDate() != null}"><a th:href = "@{|/resident/${familydto.getResident().getReidentSerialNumber()}/birthCertificate|}"><button>확인</button></a></td>
    <td th:if = "${resident.getDeathDate() != null}"><a th:href = "@{|/resident/${familydto.getResident().getReidentSerialNumber()}/deathCertificate|}"><button>확인</button></a></td>
    <td><a th:href = "@{|/resident/${familydto.getResident().getReidentSerialNumber()}/delete|}"><button>삭제</button></a></td>
  </tr>
</table>
</body>
<a href = "/logout">로그아웃하기</a>
</html>