<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>가족관계증명서</title>
</head>
<body>
<h1>가족관계증명서</h1>

<table border = "1">
  <thead>
  <tr>
    <th>등록기준지</th>
    <td colspan = "4" th:text = "${resident.getRegistrationBaseAddress()}"></td>
  </tr>
  <tr>
    <th>구분</th>
    <th>성명</th>
    <th>출생연월일</th>
    <th>주민등록번호</th>
    <th>성별</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>본인</td>
    <th th:text = "${resident.getName()}"></th>
    <th th:text = "${resident.getBirthDate()}"></th>
    <th th:text = "${resident.getResidentRegistrationNumber()}"></th>
    <th th:text = "${resident.getGenderCode()}"></th>
  </tr>
  <tr th:each = "familyRelation : ${familyRelationshipList}">
    <td th:text = "${familyRelation.getFamilyRelationshipCode()}"></td>
    <td th:text = "${familyRelation.getResident().getName()}"></td>
    <td th:text = "${familyRelation.getResident().getBirthDate()}"></td>
    <td th:text = "${familyRelation.getResident().getResidentRegistrationNumber()}"></td>
    <td th:text = "${familyRelation.getResident().getGenderCode()}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>